<template>
  <div>
    <router-link class="router-link" :to="'/Products/' + productName">
      <div class="product_card_container">
        <div>
          <div class="product_title">{{ productName }}</div>
          <img class="product_image" :src="imgSrc" alt="imgAlt" />
        </div>

        <div>
          <div class="product_description">12" 9" 5"</div>
          <div class="product_price">Rs 8</div>
          <div class="Offer_price">Rs 7.5</div>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "ProductCard",
  props: {
    productName: {
      type: String,
      default: "Product",
    },
    imgSrc: {
      type: String,
      default: "Def",
    },
  },
};
</script>

<style>
.product_card_container {
  height: 200px;
  width: 260px;
  background-image: linear-gradient(to right, #e2e2e2, white);
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product_card_container:hover {
  background-image: linear-gradient(to right, white, #e2e2e2);
}
.product_image {
  width: 100px;
  max-height: 100px;
}
.product_title {
  font-size: 12px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans_serif;
  margin-bottom: 10px;
}
.product_price {
  text-decoration: line-through;
  font-weight: 100;
  font-size: 10px;
}
.router-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
</style>
