<template>
    <div>
        <TopBar/>
        <div class="main-container">
            <ProductCard :productName="pn" :imgSrc="abd"/>
        </div>
    </div>
</template>

<script>
import TopBar from "@/components/Common/TopBar"
import ProductCard from "./ProductCard.vue";

export default {
  name: 'ProductPage',
  components: {
    TopBar,
    ProductCard
  }
}
</script>

<style>
.main-container{
    position: relative;
    top: 60px;
}
</style>
