<template>
  <div>
    <TopBar />
    <div class="main-container">
      <div class="products-header-container">
        <div class="products-header">Products</div>
        <div class="product-search-bar search-bar">
          <span class="p-input-icon-left">
            <i class="pi pi-search" />
            <InputText v-model="value1" placeholder="Search" />
          </span>
        </div>
      </div>
      <div class="products-container">
        <div
          class="product-container"
          v-for="(product, index) in products"
          :key="index"
        >
          <ProductCard :productName="product.name" :imgSrc="product.imgSrc"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TopBar from "@/components/Common/TopBar";
import ProductCard from "./ProductCard.vue";
import InputText from "primevue/inputtext";

export default {
  name: "ProductsPage",
  components: {
    TopBar,
    ProductCard,
    InputText,
  },
  data: () => {
    return {
      products: [
        { name: "RED BRICK" , imgSrc:require("../../../public/red_brick.png") },
        { name: "FLY ASH BRICK" , imgSrc:require("../../../public/fly_ash_brick.png") },
        { name: "ENGINEERING BRICK" , imgSrc:require("../../../public/engineering_brick.png") },
        { name: "CONCRETE BRICK" , imgSrc:require("../../../public/concrete_brick.png") },
      ],
    };
  },
  methods:{
    handleClick(){

    }
  }
};
</script>

<style>
.main-container {
  position: relative;
  top: 60px;
  padding: 10px;
}

.products-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 25px;
  align-items: center;
  margin-left: 30px;
}
.product-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.products-header-container {
  display: flex;
  align-items: center;
}
.products-header {
  font-size: 20px;
  font-weight: 800;
}
.products-header-container {
  margin: 20px 55px 45px 30px;
}
.search-bar {
  margin-left: 20px;
}
@media screen and (max-width: 1200px) {
  .products-container {
    grid-template-columns: auto auto auto;
  }
  .products-header-container {
    margin: 20px 55px 45px 30px;
}
}
@media screen and (max-width: 900px) {
  .products-container {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 600px) {
  .products-container {
    grid-template-columns: auto;
  }
  .products-header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-bar{
    margin-left:0px
  }
  .products-header{
    margin-bottom: 15px;
  }
}
</style>
