<template>
    <div>
        <TopBar/>
        <div class="main-container">
            Exports page here
        </div>
    </div>
</template>

<script>
import TopBar from "@/components/Common/TopBar"

export default {
  name: 'ExportsPage',
  components:{
    TopBar
  }
}
</script>

<style>
.main-container{
    position: relative;
    top: 60px;
}
</style>
