<template>
  <div class="top-bar-container">
    <div> <router-link class="main-logo" to="/MainDashboard">Xp</router-link></div>
    <div>
      <div @click="toggleMenuBar" class="hide-toggler">
        <div class="hide-line"></div>
        <div class="hide-line"></div>
      </div>
      <div
        class="menu-list-div"
        :class="barActive ? 'menu-list-div-active' : ''"
      >
        <ul>
          <li><router-link to="/Imports">Imports</router-link></li>
          <li><router-link to="/Exports">Exports</router-link></li>
          <li><router-link to="/Products">Products</router-link></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TopBar",
  components: {},
  data: () => {
    return {
      barActive: false,
    };
  },
  methods: {
    toggleMenuBar() {
      console.log("Toggling menu bar", this.barActive);
      this.barActive = !this.barActive;
    },
  },
};
</script>

<style>
.top-bar-container {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 10;
  min-width: 340px
}
.menu-list-div {
  border-bottom-left-radius: 10px;
  z-index: 8;
  opacity: 0.8;
}
.menu-list-div ul {
  display: flex;
  color: white;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  padding: 40px 0px;
}

.menu-list-div ul * {
  margin-left: 20px;
  font-family: "sans-serif";
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.menu-list-div ul *:hover {
  color: aquamarine;
  cursor: pointer;
}
.main-logo {
  color: white;
  text-decoration: none;
}

.hide-line {
  width: 20px;
  height: 3px;
  margin: 2px;
  background-color: white;
}
.hide-toggler:hover {
  cursor: pointer;
}
.hide-toggler {
  position: relative;
  z-index: 12;
  display: none;
}
@media screen and (max-width: 400px) {
  .menu-list-div {
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }

  .menu-list-div ul {
    flex-direction: column;
  }
  .hide-toggler {
    display: block;
  }
  .menu-list-div ul * {
    margin: 20px 10px 0 20px;
  }
}
.menu-list-div-active {
  transform: translateY(0px);
  opacity: 0.8;
  display:block;
}

</style>
