<template>
    <router-view />
</template>

<script>

export default {
  name: 'App',
  components: {
  }
}
</script>

<style>
body {
  padding: 0px;
  margin: 0px;
}
#app{
  min-width: 330px;
}
</style>
