<template>
    <div>
        <TopBar/>
        <div class="main-container">
            Content page here
        </div>
    </div>
</template>

<script>
import TopBar from "@/components/Common/TopBar"
export default {
  name: 'MainDashboard',
  components: {
    TopBar
  }
}
</script>

<style>
.main-container{
    position: relative;
    top: 60px;
}
</style>
