<template>
  <div>
    <div class="login-main-container">
      <div class="login-form-container">
        <div class="form-field">
          <label for="">User ID: </label>
          <InputText class="input-field" placeholder="user id"/>
        </div>
        <div class="form-field">
          <label for="">Password: </label>
          <InputText class="input-field" placeholder="password"/>
        </div>
        <Button class="input-field submit-button" @click="submitLogin" label="Login"/>
      </div>
    </div>
  </div>
</template>

<script>
import InputText from "primevue/inputtext";
import Button from "primevue/button";
export default {
  name: "LoginPage",
  components: {
    InputText,
    Button
  },
  methods:{
    submitLogin(){
      this.$router.push({ path: '/MainDashboard' })
    }
  }
};
</script>

<style scoped>
.login-main-container {
  background-image: linear-gradient(to right, white, black);
  height: 100vh;
  width: 100vw;
}
.login-form-container {
  width: 30vw;
  height: 60vh;

  position: absolute;
  right: 0;
  top: 20vh;
  padding: 100px;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin:10px 0;
  color: aliceblue;
}
.input-field {
  margin-top: 5px;
  width: 100%;
}
</style>
